streamlit
fastapi
uvicorn

langchain
langchain-community
langchain-openai
langchain-text-splitters

openai
tiktoken

faiss-cpu

pymupdf
pypdf

python-dotenv

sentence-transformers
transformers
torch

pytesseract
Pillow

numpy
pandas

requests
tqdm

pydantic

unstructured
python-docx
openpyxl